In [15]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [16]:
import pandas as pd   
    # making dataframe using the uploaded csv dataset 
df = pd.read_csv("missingdata.csv")   
   # output the dataframe  
print(df) 
df.head()

     x    y  class
0  6.0  1.0      1
1  2.0  2.0      1
2  NaN  2.0      1
3  5.0  NaN      2
4  6.0  2.0      2

     x    y  class
0  6.0  1.0      1
1  2.0  2.0      1
2  NaN  2.0      1
3  5.0  NaN      2
4  6.0  2.0      2

In [17]:
df.isnull

<bound method DataFrame.isnull of      x    y  class
0  6.0  1.0      1
1  2.0  2.0      1
2  NaN  2.0      1
3  5.0  NaN      2
4  6.0  2.0      2>

In [18]:
df.isna().sum()

x        1
y        1
class    0
dtype: int64

In [19]:
df['x']

0    6.0
1    2.0
2    NaN
3    5.0
4    6.0
Name: x, dtype: float64

In [20]:
# Calculate the overall mean popularity
x_mean = df['x'].mean()

# Fill the remaining missing values with the overall mean popularity
df['x'].fillna(x_mean, inplace=True)

# Verify that there are no more missing values in the Popularity column
print(df['x'].isnull().sum())

0

In [21]:
df['x']

0    6.00
1    2.00
2    4.75
3    5.00
4    6.00
Name: x, dtype: float64

In [22]:
# Calculate the overall mean popularity
y_mean = df['y'].mean()

# Fill the remaining missing values with the overall mean popularity
df['y'].fillna(y_mean, inplace=True)

# Verify that there are no more missing values in the Popularity column
print(df['y'].isnull().sum())

0

C:\Users\f1930\AppData\Local\Temp\ipykernel_4316\78553493.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['y'].fillna(y_mean, inplace=True)

In [23]:
df['y']

0    1.00
1    2.00
2    2.00
3    1.75
4    2.00
Name: y, dtype: float64

In [24]:
import pandas as pd 
# Create a sample DataFrame 
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'], 
        'Age': [25, 32, 19, 45, 28], 
        'Salary': [50000, 60000, 45000, 75000, 55000]} 
df = pd.DataFrame(data) 
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   32   60000
2  Charlie   19   45000
3    David   45   75000
4      Eva   28   55000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Salary  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [26]:
print(df.describe())

             Age        Salary
count   5.000000      5.000000
mean   29.800000  57000.000000
std     9.731393  11510.864433
min    19.000000  45000.000000
25%    25.000000  50000.000000
50%    28.000000  55000.000000
75%    32.000000  60000.000000
max    45.000000  75000.000000

In [27]:
import pandas as pd

# Assuming 'data' is a dictionary, convert it to a DataFrame
data = pd.DataFrame(data)

# Now you can use dropna and other DataFrame methods
data.dropna(inplace=True)
data.drop_duplicates(inplace=True)

In [28]:

 
 
import pandas as pd 
import numpy as np 
 
# Create a sample DataFrame with missing data 
data = { 
    'A': [1, 2, np.nan, 4, 5], 
    'B': [np.nan, 2, 3, 4, np.nan], 
    'C': [1, 2, 3, 4, 5] 
} 
 
df = pd.DataFrame(data) 
 
# Display the original DataFrame 
print("Original DataFrame:") 
 

print(df) 
 
# Removing rows with missing values using dropna() 
df_dropna = df.dropna() 
 
# Display the DataFrame after removing rows with missing values 
print("\nDataFrame after removing rows with missing values:") 
print(df_dropna) 
 
# Imputing missing values with the mean value using fillna() 
df_fill_mean = df.fillna(df.mean()) 
 
# Display the DataFrame after imputing missing values with the mean 
print("\nDataFrame after imputing missing values with mean:") 
print(df_fill_mean) 
 
# Imputing missing values with forward fill (method='ffill') using fillna() 
df_fill_ffill = df.fillna(method='ffill') 
 
# Display the DataFrame after imputing missing values with forward fill 
print("\nDataFrame after imputing missing values with forward fill:") 
print(df_fill_ffill)

Original DataFrame:
     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  4.0  4
4  5.0  NaN  5

DataFrame after removing rows with missing values:
     A    B  C
1  2.0  2.0  2
3  4.0  4.0  4

DataFrame after imputing missing values with mean:
     A    B  C
0  1.0  3.0  1
1  2.0  2.0  2
2  3.0  3.0  3
3  4.0  4.0  4
4  5.0  3.0  5

DataFrame after imputing missing values with forward fill:
     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  2.0  3.0  3
3  4.0  4.0  4
4  5.0  4.0  5

C:\Users\f1930\AppData\Local\Temp\ipykernel_4316\3087743476.py:34: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fill_ffill = df.fillna(method='ffill')

In [29]:
import pandas as pd 
import numpy as np 
 
# Create a sample DataFrame with missing data 
data = { 
    'A': [1, 2, np.nan, 4, 5], 
    'B': [np.nan, 2, 3, 4, np.nan], 
    'C': [1, 2, 3, 4, 5] 
} 
 
df = pd.DataFrame(data) 
 
# Display the original DataFrame 
print("Original DataFrame:")

Original DataFrame:

In [30]:
print(df) 
 
# Removing rows with missing values using dropna() 
df_dropna = df.dropna() 
 
# Display the DataFrame after removing rows with missing values 
print("\nDataFrame after removing rows with missing values:") 
print(df_dropna) 
 
# Imputing missing values with the mean value using fillna() 
df_fill_mean = df.fillna(df.mean()) 
 
# Display the DataFrame after imputing missing values with the mean 
print("\nDataFrame after imputing missing values with mean:") 
print(df_fill_mean) 
 
# Imputing missing values with forward fill (method='ffill') using fillna() 
df_fill_ffill = df.fillna(method='ffill') 
 
# Display the DataFrame after imputing missing values with forward fill 
print("\nDataFrame after imputing missing values with forward fill:") 
print(df_fill_ffill)

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  4.0  4
4  5.0  NaN  5

DataFrame after removing rows with missing values:
     A    B  C
1  2.0  2.0  2
3  4.0  4.0  4

DataFrame after imputing missing values with mean:
     A    B  C
0  1.0  3.0  1
1  2.0  2.0  2
2  3.0  3.0  3
3  4.0  4.0  4
4  5.0  3.0  5

DataFrame after imputing missing values with forward fill:
     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  2.0  3.0  3
3  4.0  4.0  4
4  5.0  4.0  5

C:\Users\f1930\AppData\Local\Temp\ipykernel_4316\2129103335.py:18: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fill_ffill = df.fillna(method='ffill')

In [ ]:
import pandas as pd 
from sklearn.datasets import load_iris 
import matplotlib.pyplot as plt 
 
iris = load_iris() 
 
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names) 
iris_df['target'] = iris.target 
 
 
iris_df.head() 
iris_df.describe() 
iris_df.dtypes 
iris_df.isnull().sum() 
 
iris_df['target'].value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

In [ ]:
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder, OneHotEncoder 
 
data = { 
    'Age': [25, 32, 19, 45, 28], 
    'Salary': [50000, 60000, 45000, 75000, 55000], 
    'Gender': ['Male', 'Female', 'Male', 'Male', 'Female'] 
} 
 
df = pd.DataFrame(data) 
 
print("Original DataFrame:") 
print(df) 
 
scaler = MinMaxScaler() 
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']]) 
 
print("\nDataFrame after Min-Max scaling for 'Age' and 'Salary' columns:") 
print(df) 
 
scaler = StandardScaler() 
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']] ) 
 
print("\nDataFrame after Z-score normalization for 'Age' and 'Salary' columns:") 
print(df) 
 
 
 
df = pd.get_dummies(df, columns=['Gender'], prefix=['Gender']) 
 
print("\nDataFrame after one-hot encoding for 'Gender' column:") 
print(df)

Original DataFrame:
   Age  Salary  Gender
0   25   50000    Male
1   32   60000  Female
2   19   45000    Male
3   45   75000    Male
4   28   55000  Female

DataFrame after Min-Max scaling for 'Age' and 'Salary' columns:
        Age    Salary  Gender
0  0.230769  0.166667    Male
1  0.500000  0.500000  Female
2  0.000000  0.000000    Male
3  1.000000  1.000000    Male
4  0.346154  0.333333  Female

DataFrame after Z-score normalization for 'Age' and 'Salary' columns:
        Age    Salary  Gender
0 -0.551469 -0.679900    Male
1  0.252757  0.291386  Female
2 -1.240806 -1.165543    Male
3  1.746319  1.748315    Male
4 -0.206801 -0.194257  Female

DataFrame after one-hot encoding for 'Gender' column:
        Age    Salary  Gender_Female  Gender_Male
0 -0.551469 -0.679900          False         True
1  0.252757  0.291386           True        False
2 -1.240806 -1.165543          False         True
3  1.746319  1.748315          False         True
4 -0.206801 -0.194257           True        False